<div class="footer">

    <div class="footer-container">
            <ul class="footer-list-info" role="list">
                <li role="listitem">© 2022—{{ "now" | date: '%Y' }} by Scherrer.txt</li>
                <li role="listitem"><a href="{{ site.url }}/o-blogu#jak-citovat">Jak citovat</a></li>
                <li role="listitem"><a href="mailto:{{ site.author_email | encode_email }}" title="Kontakt">Napište mi</a>
                <li role="listitem"><h2 class="arrow-up"><a href="#top"> ￪</a></h2></li>
            </ul>

    <!--
        <div class="footer-column-socials">
            <div class="footer-label">Sítě</div>
            <ul class="footer-list" role="list">
                <li role="listitem"><a href="https://www.instagram.com/scherrer.jpg/">scherrer.jpg</a><sup>/fotky</sup></li>
                <li role="listitem"><a href="https://www.instagram.com/scherrer.psd/">scherrer.psd</a><sup>/grafika</sup></li>
                <li role="listitem"><a href="https://anilist.co/user/scherrer/animelist">scherrer.jpn</a><sup>/animelist</sup></li>
                /* <li role="listitem"><a href="https://www.linkedin.com/in/scherrer-jpg/">scherrer.biz</a></li> */
                <li role="listitem"><a href="https://www.youtube.com/watch?v=83nB-VfMSm4">scherrer.mp4</a><sup>/motion</sup></li>
                /* <li role="listitem"><a href="https://www.goodreads.com/author/show/6589508.Kevin_Wulfric_Scherrer">scherrer.epub</a></li> */
                /* <li role="listitem"><a href="https://open.spotify.com/show/2Ycp2Npwev6VRv9Y6EW9yD?si=cf343a1d68204a77&nd=1&dlsi=acc7785a0ba64b36">scherrer.mp3</a></li> */
                <li role="listitem"><a href="https://scherrer.itch.io/">scherrer.exe</a><sup>/hry</sup></li>
            </ul>
        </div>
    -->

    <!--
        <div class="footer-column-menu" role="navigation">
            <div class="footer-label">Menu</div>
            <ul class="footer-list" role="menu">
                <li role="menuitem"><a href="{{ site.url }}/o-mne">O autorovi</a></li>
                <li role="menuitem"><a href="{{ site.url }}/o-blogu">O blogu</a></li>
                <li role="menuitem"><a href="{{ site.url }}/o-blogu#credits">Credits</a></li>
            </ul>
        </div>


        <div class="footer-column-arrow">
            <h2 class="arrow-up"><a href="#top"> ￪</a></h2>
        </div>
    -->
    
    </div>
</div>