<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{ page.perex }}">
  <meta name="og:description" content="{{ page.perex }}">
  <meta property="og:title" content="{{ page.title }}">
  <meta name="author" content="Scherrer.txt">
  {% if page.thumbnail %}
  <meta name="image" property="og:image" content="{{ site.url }}{{ page.thumbnail }}">
  <meta property="og:image" content="{{ site.url }}{{ page.thumbnail }}">
  <meta itemprop="image" content="{{ site.url }}{{ page.thumbnail }}">
  <meta name="twitter:image" content="{{ site.url }}{{ page.thumbnail }}">
  <meta property="og:image:width" content="1920">
  <meta property="og:image:height" content="1080">
  {% else %}
  <meta name="image" property="og:image" content="{{ site.url }}/assets/bts-main-thumb.png"">
  <meta property="og:image" content="{{ site.url }}/assets/bts-main-thumb.png">
  <meta itemprop="image" content="{{ site.url }}/assets/bts-main-thumb.png">
  <meta name="twitter:image" content="{{ site.url }}/assets/bts-main-thumb.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  {% endif %}
  <title>
    {% if page.title %}
      {{ page.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>

  {% seo title=false %}
  {% feed_meta %}

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="{{ page.title }}">
<meta itemprop="description" content="{{ page.perex }}">


<!-- Facebook Meta Tags -->
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ page.perex }}">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.perex }}">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="./assets/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="./assets/images/favicon/site.webmanifest">
  <link rel="mask-icon" href="./assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="./assets/images/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="msapplication-config" content="./assets/images/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <!-- Favicon -->

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />
  {% if site.theme_config.appearance_toggle %}
    {% include toggle_theme_js.html %}
  {% endif %}

</head>
