<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta property="og:title" content="{{ page.title }}">
  <meta name="author" content="Scherrer.txt">
  <meta property="og:type" content="website">
  <meta property="article:author" content="Scherrer.txt">

<!-- NAME -->
  <meta itemprop="name" content="{{ page.title }}">

<!-- CANONICAL URL -->
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">

<!-- DESCRIPTION -->
  {% if page.perex %}
  <meta name="description" content="{{ page.perex }}">
  <meta name="og:description" content="{{ page.perex }}">
  <meta property="og:description" content="{{ page.perex }}">
  <meta itemprop="description" content="{{ page.perex }}">
  <meta name="twitter:description" content="{{ page.perex }}">
  {% else %}
  <meta name="description" content="{{ site.description }}">
  <meta name="og:description" content="{{ site.description }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta itemprop="description" content="{{ site.description }}">
  <meta name="twitter:description" content="{{ site.description }}">
  {% endif %}

<!-- THUMBNAIL -->
  {% if page.thumbnail %}
  <meta name="image" property="og:image" content="{{ site.url }}{{ page.thumbnail }}">
  <meta property="og:image" content="{{ site.url }}{{ page.thumbnail }}">
  <meta itemprop="image" content="{{ site.url }}{{ page.thumbnail }}">
  <meta name="twitter:image" content="{{ site.url }}{{ page.thumbnail }}">
  <meta property="og:image:width" content="1920">
  <meta property="og:image:height" content="1080">
  {% else %}
  <meta name="image" property="og:image" content="https://raw.githubusercontent.com/scherrer-txt/bts/master/images/thumbs/bts-main-thumb.png">
  <meta property="og:image" content="https://raw.githubusercontent.com/scherrer-txt/bts/master/images/thumbs/bts-main-thumb.png">
  <meta itemprop="image" content="https://raw.githubusercontent.com/scherrer-txt/bts/master/images/thumbs/bts-main-thumb.png">
  <meta name="twitter:image" content="https://raw.githubusercontent.com/scherrer-txt/bts/master/images/thumbs/bts-main-thumb.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">

<!-- TITLE -->
  {% endif %}
  <title>
    {% if page.title %}
      {{ page.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>

  {% seo title=false %}
  {% feed_meta %}

<!-- Favicon -->
<meta name="apple-mobile-web-app-title" content="Behind the Screens">
<meta name="application-name" content="Behind the Screens">
<meta name="theme-color" content="#ffffff">
<link rel="icon" type="image/svg+xml" href="/assets/images/favicon/favicon.svg">
<link rel="icon" type="image/png" href="/assets/images/favicon/favicon.png">
<link rel="shortcut-icon" type="image/svg+xml" href="/assets/images/favicon/favicon.svg">
<link rel="shortcut-icon" type="image/png" href="/assets/images/favicon/favicon.png">
<link rel=”mask-icon” href="/assets/images/favicon/mask-icon.svg" color="#FF5500">
<link rel="apple-touch-icon" href="/assets/images/favicon/apple-touch-icon.png">
<link rel="manifest" href="manifest.json">

<!-- THEME TOGGLE -->
<script src="/assets/js/toggle-theme.js"></script>
<link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />

<!-- RSS -->
<link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml">

<!-- Lightbox JavaScript -->
<script src="/assets/js/lightbox.js"></script>

<div id="lightbox" class="lightbox">
  <img id="lightbox-img" class="lightbox-img" src="" alt="lightbox">
</div>

</head>
