<input id="menu-toggle" type="checkbox"></input>

<label for="menu-toggle" class="hamburger" aria-label="Menu Toggle">
  <div class="top-bun"></div>
  <div class="meat"></div>
  <div class="bottom-bun"></div>
</label>

<nav class="menu" role="menubar">
      <ul class="menu-list">
        <li><a href="{{ site.url }}/" role="menuitem">domů</a></li>
        <li><a href="{{ site.url }}/o-blogu" role="menuitem">o blogu</a></li>
        <li><a href="{{ site.url }}/o-mne" role="menuitem">o mně</a></li>
        <li>
          <button title="Toggle Theme" class="theme-toggle">
            <span class="icon"></span>
          </button>
        </li>
      </ul>
    </nav>