{% if site.posts.size > 0 %}
  <ul>
    {% assign post_count = 0 %}
    {% for post in site.posts %}
      {% if post_count < 5 %}
        <li class="post-list-item">
          <div class="post-list-content">
            <h6 class="post-list-title">
              <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </h6>
            <div class="post-list-line"></div>
            <span class="post-list-date">
              {{ post.date | date: site.theme_config.date_format }}
            </span>
          </div>
        </li>
        {% assign post_count = post_count | plus: 1 %}
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
