{% if site.posts.size > 0 %}
<div class="post-meta-title">  
  <h2>5 nejnovějších článků</h2>
</div>
  <ul class="list-without-markers">
  {% for post in site.posts | limit: 5 %}
      <li class="post-meta-container.list">
        <div class="post-index">
          <div class="title-index-container">
            <div class="post-meta-label">Název</div>
            <div class="post-meta-content">
              <h2 class="post-index-title-big">
              <a href="{{ post.url | relative_url }}">{{ post.name }}</a></h2>
            </div>
          </div>
          <div class="number-index-container">
            <div class="post-meta-label">Číslo</div>
            <div class="post-meta-content">
              <h3 class="post-index-info">{{ post.order }}</h3>
            </div>
          </div>
          <div class="release-index-container">
            <div class="post-meta-label">Vyšlo</div>
            <div class="post-meta-content">
              <h4 class="post-index-info-release">{{ post.release }}</h4>
            </div>
          </div>
        </div>
      </li>
    {% endfor %}
    </ul>
{% endif %}
<p><a href="clanky">Všechny články</a></p>
