{% if site.posts.size > 0 %}
  <ul class="list-without-markers">
    {% for post in site.posts %}
      <li class="post-list-item">
        <div class="post-list-content">
          <h6 class="post-list-title">
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </h6>
          <div class="post-list-line"></div>
          <span class="post-list-date">
            {{ post.date | date: site.theme_config.date_format }}
          </span>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endif %}
