blockquote {
  width: fit-content;
  padding: 5rem 0 5rem;
  width: 100%;
  margin: 0 auto;

  & p {
    width: 100%;
    margin: 0;
    font-family: $font-family-heading;
    font-size: $font-size-blockquote;
    line-height: $line-height-blockquote;
    text-align: center;
    font-weight: 400;
    letter-spacing: -0.07rem;
    color: var(--text);
  }

  & p::before {
    content: "„";
  }

  & p::after {
    content: "“";
  }
}

// -------------------------------------------------------- MOBILE -------------------------------------------------------- //
// -------------------------------------------------------- MOBILE -------------------------------------------------------- //
@media only screen and (max-width: 800px) {
  blockquote {
    font-size: 2rem;
    line-height: 2rem;
    width: fit-content;
    padding: 2.5rem 0 2.5rem;
    letter-spacing: 0rem;

    & p {
      font-size: $font-size-blockquote-mobile;
      line-height: $line-height-blockquote-mobile;
    }
  }
}