hr {
    width: 90%;
    color: var(--code-text);
    margin: 3em 0;
  }
  
  hr.page-break {
    text-align: center;
    border: 0;
  
    &:before { content: '-----' }
    &:after { content: attr(data-content) '-----' }
  }


// -------------------------------------------------------- MOBILE -------------------------------------------------------- //
// -------------------------------------------------------- MOBILE -------------------------------------------------------- //
@media only screen and (max-width: 800px) {
  hr {
    width: 90%;
    color: var(--code-text);
    margin: 2em 0;
  }
}