.footnotes {
    color: var(--text);
    width: 100%;
    scroll-margin-top: 5rem;
  }
  
  .footnotes li p {
    width: fit-content;
    margin: -0.3rem 0;
  }
  
  a.footnote {
    text-decoration: none;
  }

  .footnotes ol li {
    scroll-margin-top: 10rem;
  }
  
  sup {
    vertical-align: text-top;
    line-height: 0.3em;
    scroll-margin-top: 10rem;
  }
  
  .reversefootnote {
    font-family: $font-family-heading;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.03rem;
    margin-left: 0.5rem;
    display: inline-flex;
    text-align: center;
  }
  
  *:target {
    color: var(--text-secondary);
    transition: color 0.5s;
  }

// -------------------------------------------------------- MOBILE -------------------------------------------------------- //
// -------------------------------------------------------- MOBILE -------------------------------------------------------- //
  @media only screen and (max-width: 800px) {
  .footnotes {
    width: fit-content;
  }
  
.footnotes li {
  margin-top: 0;
  margin-bottom: 1.5rem;

  &:first-child {
    margin-top: 1rem;
  }
}

  .footnotes li p,
  .footnotes li::marker {
    width: fit-content;
    margin: -0.3rem 0;
    font-size: 0.8rem;
    line-height: 1.4rem;
  }

  .footnotes ol {
    width: 90%;
    padding: 0 5%;
  }
  
  .reversefootnote {
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.06rem;
    margin-left: 0.25rem;
  }
}