.footer {
    width: 100%;
    z-index: 100;
    background: var(--bg);
    box-shadow: $drop-shadow-soft;
    margin-top: 9rem;
    border-top: solid 1px var(--text-light);
}

.icon-footer {
    width: 72px;
    height: 72px;
}

.arrow-up,
.arrow-up a {
    width: 100%;
    line-height: 2rem;
    padding: 0;
    margin: 0;
    font-size: 4rem;
    text-decoration: none;
    text-align: end;
    order: 3;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 8rem 48px 48px;
    gap: 64px;
    position: relative;
    z-index: 0;
    max-width: 100vw;
    justify-content: space-between;
    margin: 0 15%;
}

.footer-column {
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 8px;
    order: 2;
}

.footer-column-info {
    width: 40%;
    font-size: 0.9rem;
    line-height: 1rem;
    order: 1;
}

.footer-column-info .footer-list {
    line-height: 1.5rem;
}


.footer-list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    line-height: 2.25rem;
}

.footer-list li {
    margin-top: 0;
    margin-bottom: 0;
}

.footer-copyright {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
    padding-top: 2rem;
    align-items: center;
    justify-content: space-between;
}

.footer-copyright-text {
    font-size: smaller;
    width: fit-content;
    margin: 0;
}

@media only screen and (max-width: 800px) {
    
    .footer-container {
     flex-direction: column;

    }
}

// -------------------------------------------------------- MOBILE -------------------------------------------------------- //
// -------------------------------------------------------- MOBILE -------------------------------------------------------- //
@media only screen and (max-width: 800px) {
    .footer {
        margin-top: 0;
    }
    
    .arrow-up {
        text-align: start;
        order: 1;
    }

    .footer-column {
        display: flex;
        flex-direction: column;
        width: fit-content;
        gap: 8px;
    }

    .footer-column-info {
        order: 3;
    }

    .footer-container {
        justify-content: center;
        margin-bottom: 2rem;
        row-gap: 32px;
        column-gap: 64px;
        margin: 0;
    }

    .footer-copyright{
        flex-direction: column;
        justify-content: center;
        padding-top: 1rem;
    }

    .footer-copyright-text {
        flex-direction: column;
        justify-content: center;
        width: auto;
        padding-top: 0;
        gap: 32px;
    }
}