.footnotes {
    color: var(--text);
    width: 100%;
    scroll-margin-top: 5rem;
  }

  .footnotes ol p,
  .footnotes li p,
  .footnotes li::marker,
  .footnotes ol li em,
  .footnotes ol li i {
    width: fit-content;
    margin: -0.3rem 0;
    font-size: $font-size-smaller;
    line-height: $line-height-smaller;
  }

  a.footnote {
    text-decoration: none;
  }

  .footnotes ol li {
    scroll-margin-top: 10rem;
  }
  
  sup {
    vertical-align: text-top;
    line-height: 0.3em;
    scroll-margin-top: 10rem;
  }
  
  .reversefootnote {
    font-family: $font-family-heading;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
    margin-left: 0.5rem;
    display: inline-flex;
    text-align: center;
    margin-top: -0.1rem;
    padding: 0.1rem 0.5rem 0.3rem;
    border-radius: 8px;
    border: solid 1px var(--links);

    &:hover {
      color: var(--bg);
      background-color: var(--links);
    }
  }

// -------------------------------------------------------- MOBILE -------------------------------------------------------- //
// -------------------------------------------------------- MOBILE -------------------------------------------------------- //
  @media only screen and (max-width: 800px) {
  .footnotes {
    width: fit-content;
  }
  
.footnotes li {
  margin-top: 0;
  margin-bottom: 1.5rem;

  &:first-child {
    margin-top: 1rem;
  }
}

  .footnotes li p,
  .footnotes li::marker,
  .footnotes ol li em,
  .footnotes ol li i {
    width: fit-content;
    margin: -0.3rem 0;
    font-size: 0.8rem;
    line-height: 1.4rem;
  }

  .footnotes ol {
    width: 90%;
    padding: 0 5%;
  }
  
  .reversefootnote {
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.06rem;
    margin-left: 0.25rem;
  }
}