.footer {
  display: flex;
  justify-content: space-around;
  border-radius: $border-radius;
  box-shadow: var(--shadow-hard);
  border: var(--border-solid);
  background-color: var(--transpa-mob);
  padding-block: calc(var(--space-padding) * 0.5);
  max-width: var(--container-max, 90%);
  margin-inline: auto;
  margin-bottom: var(--gap-large);

  ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: inherit;
  padding: 0;
  margin: 0;
  list-style: none;
}

  li {
    display: block;
    align-content: center;
    font-family: $font-family-h;
    font-size: var(--font-s);
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  a {
    color: var(--links);
    font-weight: var(--weight-medium);

    &:hover {
      color: var(--links-hover);
    }
  }

  .arrow-up {
    display: block;
    font-family: $font-family-main;
    font-weight: var(--weight-bold);
    font-size: var(--font-h4);
    transform: rotate(-90deg);
    transform-origin: center;
    text-decoration: none;
  }
}

// -------------------------------------------------------- MOBILE -------------------------------------------------------- //
// -------------------------------------------------------- MOBILE -------------------------------------------------------- //

@media only screen and (max-width: 800px) {
    .footer {
        padding: 0;
        bottom: 0;
        margin: 0;
        padding: 1rem 16px 1.5rem;
    }
    .footer-list-info {
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
}
