.footer {
    z-index: 100;
    background: var(--bg);
    box-shadow: $drop-shadow-soft;
    border: var(--border-invis) solid 1px;
    border-radius: $border-radius;
    box-shadow: $drop-shadow;
    padding: 4rem 0 1rem;
    bottom: 24px;
    margin: 0 15%;
    padding: 1rem 96px 1.5rem;
    position: relative;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-size: smaller;
    position: relative;
}

.footer-column-info,
.footer-column-info .footer-list {
    min-width: 74px;
    font-size: 0.9rem;
    line-height: 1.5rem;
}

.footer-list,
.footer-list li {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    line-height: 2.25rem;
}

.footer-list-info {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    
    li {
        margin: 0;
        padding: 0;
    }
}

.footer-label {
    font-family: $font-family-heading;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--text);
    line-height: 0.8rem;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 0.08rem;
}

.arrow-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: auto;
    gap: 12px;
    margin: 5% 15% 0;
}

a.arrow-up {
    font-family: $font-family-heading !important;
    font-weight: 800 !important;
    font-size: 2rem;
    line-height: 2rem;
    text-decoration: none;
    text-align: end;
    display: inline-block;
    margin: 0;
    transform: rotate(-90deg);
    transform-origin: center center;
    width: auto;
    order: 3;

    &:hover {
        text-decoration: none;
    }
}

.footer-list li sup {
    font-family: $font-family-heading;
    font-size: x-small;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    margin-left: 0.5rem;
    
}

.footer-label::selection, .footer-label::-moz-selection {
  background: var(--text-secondary);
  color: black;
}

// -------------------------------------------------------- MOBILE -------------------------------------------------------- //
// -------------------------------------------------------- MOBILE -------------------------------------------------------- //

@media only screen and (max-width: 800px) {
    .footer {
        padding: 0;
        bottom: 0;
        margin: 0;
        padding: 1rem 16px 1.5rem;
    }
    .footer-list-info {
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
}
