.gallery-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery-description {
  min-width: 100%;
  font-size: var(--font-s);
  line-height: var(--line-s);
  font-family: $font-family-b;
  font-style: italic;
  text-align: center;
  padding: 0 0 1.5rem;

  &:before { content: '⁂ ' }
  &:after { content: ' ⁂' }
}

.gallery-single {
  flex: 1 1 auto;
  background-size: cover;
  background-position: center;
  min-height: 550px;
  min-width: 300px;
  position: relative;
  overflow: hidden;
  transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
  flex-grow: 1;
  margin: 5px;
  cursor: pointer;
}

.gallery-single:hover {
  filter: brightness(80%);
  transform: scale(1.02);
}

// -------------------------------------------------------- MOBILE -------------------------------------------------------- //
// -------------------------------------------------------- MOBILE -------------------------------------------------------- //
@media screen and (max-width: 800px) {
  .gallery-single {
    flex-basis: calc(50% - 10px); /* Two items/row @small screens */
    min-height: 350;
  }
}

@media screen and (max-width: 400px) {
  .gallery-single {
    flex-basis: 100%; /* Single item/row @x-s screens */
    min-height: 200px;
  }
}