.main-logo {
  width: 80vw;
  height: 80vh;
  background-color: var(--links);

  mask-image: url("https://scherrer-txt.github.io/bts/assets/bts-logo-big.svg");
  -webkit-mask-image: url("https://scherrer-txt.github.io/bts/assets/bts-logo-big.svg");
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: top;
  -webkit-mask-position: top;

  position: sticky;
  top: 70px;
  z-index: 0;
}

// -------------------------------------------------------- MOBILE -------------------------------------------------------- //
// -------------------------------------------------------- MOBILE -------------------------------------------------------- //
@media only screen and (max-width: 800px) {
    .main-logo {
        width: 80vw;
        height: 45vh;
        
        position: sticky;
        z-index: 0;
        top: 0;
    }
}
