#menu-toggle {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .menu {
    position: sticky;
    top: 0;
    max-width: 100%;
    z-index: 10000;
    backdrop-filter: blur(10px);
    box-shadow: $drop-shadow-soft;
  }
  
  .menu-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--bg);
    z-index: -999;
  }

  .menu-list {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    height: 70px;
    align-items: normal;
    margin: 0 auto;
    padding-bottom: 0;
    padding-left: 0px;
    gap: $meta-gap-64;
  }
  
/*
  .menu ul li {
    filter: drop-shadow(0 0 7px var(--bg));
  }
*/

  .menu-list li:last-child {
    margin-right: 0;
    margin-left: auto;
    margin-top: 1.3rem;
  }

// -------------------------------------------------------- MOBILE -------------------------------------------------------- //
// -------------------------------------------------------- MOBILE -------------------------------------------------------- //
@media only screen and (max-width: 800px) {

#menu-toggle {
    display: none;
  }

.menu-bg {
    height: 0;
    background-color: transparent;
  }

  .menu-icon {
    z-index: 99999;
    display: block;
  }
  
  .menu-icon .icon {
    width: 35px;
    height: 35px;
    color: var(--links);
  }
  
  .menu-icon .open,
  .menu-icon .close {
    opacity: 1;
    height: 32px;
    width: 32px;
    position: fixed;
    bottom: 0;
    right: 5%;
    margin-bottom: 10%;
    z-index: 999;
    padding: 0.75rem;
    background-color: var(--transpa-meta);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 500px;
    cursor: pointer;
    box-shadow: $drop-shadow;
    filter: invert(1);
    transition: opacity 0.4s ease-in-out, transform 0.2s ease-in;
  }
  
  #menu-toggle:checked ~ .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--transpa-mob);
    visibility: visible;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

#menu-toggle:checked ~ body {
  overflow: hidden;
}

#menu-toggle:not(:checked) ~ .menu {
  display: none;
  visibility: hidden;
}

.menu-list {
  flex-direction: column;
  align-items: end;
  justify-content: flex-end;
  height: 50%;
  margin-right: 25px;
  gap: 40px;
  margin-bottom: 125px;
}

#menu-toggle:checked + .menu-icon .open {
  opacity: 0;
  transform: rotate(45deg);
}

#menu-toggle:not(:checked) + .menu-icon .close {
  opacity: 0;
  transform: rotate(-45deg);
}

#menu-toggle:checked + .menu-icon .close {
  opacity: 1;
  transform: rotate(0deg);
}

#menu-toggle:not(:checked) + .menu-icon .open {
  opacity: 1;
  transform: rotate(0deg);
}

.menu-list a {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-size: 3rem;
  margin-bottom: 0px;
  letter-spacing: 0.02rem;
  margin-left: 0;
  width: fit-content;
  color: var(--links);
  text-decoration: none;
}

.menu-list li {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: auto;
}

.menu-list li:last-child {
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
}

.menu-list ul {
  width: 100%;
}
}