#menu-toggle,
.menu-icon {
  display: none;
}

.menu {
  position: fixed;
  z-index: 10000;
  display: flex;
  align-items: end;
  width: fit-content;
  left: 1%;
  right: 1%;
  top: var(--gap-xs);

  padding-block: var(--gap-xs);
  padding-inline: var(--gap-l);
  gap: var(--gap-xl);

  border: var(--border-solid);
  border-radius: calc(var(--radius) * 4);
  background-color: var(--transpa-mob);
  backdrop-filter: blur(var(--blur-l));
  -webkit-backdrop-filter: blur(var(--blur-l));
  box-shadow: var(--shadow-s);
  transition: all var(--transition-fast);

  li {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      display: inline-flex;
      align-items: baseline;
      font-family: $font-family-h;
      font-size: var(--font-h4);
      color: var(--links);
      font-weight: var(--weight-regular);

      &:hover {
        color: var(--links-hover);
      }
    }
  }
}
  
  .theme-toggle .icon {
    width: 34px;
    height: 34px;
    display: inline-block;

    &:hover {
        color: var(--links-hover);
      }
  }

// -------------------------------------------------------- MOBILE -------------------------------------------------------- //
// -------------------------------------------------------- MOBILE -------------------------------------------------------- //
@media only screen and (max-width: 800px) {
  
  .menu {
    padding-block: var(--gap-xs);
    padding-inline: var(--gap-m);
    gap: var(--gap-s);
    align-items: center;
    left: -var(----container-side);
    right: 1%;

    li {
      display: inline-block;
      height: auto;

      a {
        display: inline-flex;
        font-family: $font-family-h;
        font-size: var(--font-h6);
        color: var(--links);
        font-weight: var(--weight-regular);

        &:hover {
          color: var(--links-hover);
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  
  .menu {
    padding-block: var(--gap-xs);
    padding-inline: var(--gap-s);
    gap: var(--gap-s);
    align-items: center;
    left: -var(----container-side);
    right: 1%;

    li {
      display: inline-block;
      height: auto;

      a {
        display: inline-flex;
        font-family: $font-family-h;
        font-size: var(--font-b);
        color: var(--links);
        font-weight: var(--weight-regular);

        &:hover {
          color: var(--links-hover);
        }
      }
    }
  }
}