@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url("https://use.typekit.net/ubc7mok.css");
@import url("https://use.typekit.net/lnc7ppz.css"); /* 700-600 | 500 (semibold) | 400 (regular) */

html { height: 100%;
  font-size: 16px;
}

body {
  font-family: "Source Serif 4", serif;
  font-size: 1.4rem;
  line-height: 2.6rem;
  min-height: 100%;
  margin-top: 2.14em;
}

pre, code {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  margin-top: 1em;
}

  h1 {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 3.7rem;
  margin-top: 6rem;
  margin-bottom: 1rem;
}

  h2 {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 3.5rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

  h3 {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 3rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

  h4 {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

  h5 {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

  h6 {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

hr { margin: 3em 0; }

hr.page-break {
  text-align: center;
  border: 0;

  &:before { content: '-----' }
  &:after { content: attr(data-content) '-----' }
}

p { margin: 1em 0; }

li { margin: 0.4em 0; }

.list-without-markers {
  list-style-type: none;
  padding-left: 0px;
}

em,
i {
  font-style: italic;
  color: blue; /* Change the color as desired */
}

/* Page Width */
.w {
  width: 1170px;
  margin: 0 auto;
  padding: 7em 2em;
}

table, th, td {
  width: 100%;
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4em;
}

/* div.highlighter-rouge pre code, pre code.highlighter-rouge {
  display: block;
  overflow-x: auto;
  padding: 1em;
} */

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
@mixin light-appearance {
  html, body {
      --bg: #E3D1CC;
      --bg-secondary: #E3D1CC;
      --headings: #595959; /* #121212 */
      --text: #313131;
      --text-secondary: #612EA3;
      --text-italic: #823B17;
      --links: #006A97;
      --links-hover: #0000ff;
      --highlight: #FFECB2; // light yellow
      --code-text: #595959;
      --share-text: #666666;
  }
}
// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  html, body  {
      --headings: #595959; /* #E3D1CC */
      --links: #2AFF00;
      --links-hover: #00FFFF;
      --highlight: #b20000;
      --bg: #121212;
      --bg-secondary: #0A0A0A;
      --text: #E3D1CC;
      --text-secondary: #FF5500;
      --text-italic: #B88F7A;
      --code-text: #595959;
      --share-text: #666666;
  };
}

html[data-theme="dark"] { @include dark-appearance; }
html[data-theme="light"] { @include light-appearance; }

@media (prefers-color-scheme: dark) {
  body[data-theme="auto"] { @include dark-appearance; }
}
@media (prefers-color-scheme: light) {
  body[data-theme="auto"] { @include light-appearance; }
}
  
// -------------------------------------------- //

html, body {
    background-color: var(--bg);
    color: var(--text);
}
h1, h2, h3, h4, h5, h6 {
    color: var(--headings);
    max-width: 65%;
    margin: 4rem auto 0;
}
p, strong, b, em, small, li, hr, table, figcaption {
    color: var(--text);
    max-width: 65%;
    margin: 2rem auto 0;
}
.highlight, pre code {
  border-radius: 25px;
}

sup {
  vertical-align: text-top;
  line-height: 0.3em;
}

a {
  color: var(--links);
  text-decoration: none;
}
  a:hover {
    color: var(--links-hover);
    text-decoration: underline;
}
    
*:target { background-color: var(--bg-secondary); }

/* Target specific elements for italicized text */
em, i {
  font-style: italic;
  color: var(--text-italic);
}

strong,
b {
  font-style: bold;
  color: var(--text-italic);
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
    transition: all 250ms !important;
    transition-delay: 0 !important;
}

.theme-toggle {
  color: var(--text);
  background-color: transparent;
  padding: 4px;
  cursor: pointer;
  margin: 1em;
  position: fixed;
  right: 0;
  top: 0;
  border: 2px transparent solid;
  outline: none;
}

.theme-toggle:hover {
  color: var(--links);
  outline: none;
}
.theme-toggle:focus {
  outline: none;

mark {
  padding: 0.4em;
  background-color: var(--highlight);
  font-size: 0.6em;
  letter-spacing: 1px;
}
  
/* POST DATE
.post-date {
  color: var(--text-secondary);
  margin-top: 1rem;
  font-size: 0.75em;
  text-transform: uppercase;
  font-family: "Roboto Mono", "Courier New", monospace;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 3rem;
}
.home-date {
  font-family: "Roboto Mono", "Courier New", monospace;
} */
  
.post-list-item a {
}

// POST LIST
.post-list-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1.5rem;
}

.post-list-title {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(100% - 30%);
}

.post-list-date {
  color: var(--code-text);
  font-size: 1.25rem;
  text-transform: uppercase;
  font-family: "Roboto Mono", "Courier New", monospace;
  font-weight: 400;
  font-style: normal;
}

/* Centered line */
.post-list-line  {
  flex: 2;
  border-top: 2px solid var(--code-text);
  margin-right: 1rem;
}
// list styling

.text-bold {
  font-weight: 700;
}
//Post info
.text-upcase {
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal;
}
p code, li code {
  background-color: var(--bg-secondary);
  padding: 0.2rem;
  color: var(--code-text);
  font-weight: 400;
  font-style: normal;
}

.post-title {
  margin-bottom: -1rem;
}

.post-meta {
  display: inline-flex;
  align-items: center;
}

.post-meta h5 {
  margin-right: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.post-subtitle {
  color: var(--code-text);
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 3.3rem;
}

.project-title {
  margin-bottom: 0.8rem;
}

.credits {
  font-size: 0.5em;
  color: var(--text);
  margin: 8em auto -4em auto;
  text-align: center;
  }
  
.tag {
  font-family: "Roboto Mono", "Courier New", monospace;
  color: var(--code-text);
  border: 2px var(--code-text) solid;
  border-radius: 50px;
  padding: 0.5em 1em;
  margin-right: 0.5em;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: lowercase;
}

.home-link {
  margin-bottom: 5rem; /* Adjust the margin as needed */
}

.thumbnail-container {
  margin-bottom: 1rem; /* Adjust the margin as needed */
}

// MENU
  }
.dashed {
  border-top: 2px var(--code-text) solid;
  margin: 1em 0;
}

.menu {
  max-width: 1170px;
  margin: 0 auto;
}

.menu-list {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  max-width: 65%;
  margin: 0 auto;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--code-text);
  padding-left: 0px;
}

.menu-list li {
  /* Styles for individual menu items */
  margin-right: 4rem;
}

.menu-list li:first-child {
  margin-left: 0;
}

.menu-list li:last-child {
  margin-right: 0;
}

// MENU END

//PAGINATION
.post-navigation {
  display: flex;
  gap: 48px;
  flex-flow: wrap;
  max-width: 75%;
  margin: 6rem auto 0;
}

.pagination {
  width: 561px;
  margin-top: 5em;
}

.prev-button,
.next-button {
}

.post-title-previous,
.post-title-next {
  color: var(--code-text);
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  white-space: normal;
  overflow-wrap: break-word;
  /* text-overflow: ellipsis; /* Display ellipsis for overflow */
}
//PAGINATION END

blockquote {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  color: var(--code-text);
  line-height: 3rem;
/*    p { margin: 0; } */
}

// POST META
.post-meta-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 65%;
}

.post-meta {
  display: flex;
  align-items: baseline;
  gap: 48px;
  flex-wrap: wrap;
  margin-bottom: 6rem;
  margin-left: 0;
  margin-right: 0;
}

.post-meta-label {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--text-secondary);
  line-height: 0.8rem;
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: 0.03rem;
}

.post-meta-info {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-size: 3rem;
  color: var(--text);
  line-height: 3rem;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0;
}

.post-meta-info-title {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-size: 6rem;
  color: var(--text);
  line-height: 5.7rem;
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: -0.1rem;
  margin-left: 0;
  max-width: fit-content;
}

.post-meta-info-small {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-size: 1.5rem;
  color: var(--text);
  line-height: 1.3;
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: 0.02rem;
  margin-left: 0;
  max-width: fit-content;
}

.post-meta-content {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: var(--code-text);
  padding-top: 24px;
  margin-top: 16px;
}

.number-container,
.release-container {
  width: 140px;
}

.theme-container,
.appetizer-container {
  width: calc(50% - 24px); /* Adjust width as needed */
  flex-grow: 1; /* Fill remaining space */
}

.theme-container h3,
.number-container h3,
.appetizer-container h3,
.release-container h3 {
  margin-top: 0px;
}
// POST META END

// POST INDEX
.post-index {
  display: flex;
  gap: 48px;
  align-items: baseline;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 4rem;
}

.post-index-info {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-size: 2rem;
  color: var(--text);
  line-height: 2rem;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0;
  max-width: fit-content;
}

.post-index-title {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-size: 4rem;
  color: var(--text);
  line-height: 4rem;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0;
  max-width: fit-content;
}

.title-index-container {
  width: calc(50% - 24px); /* Adjust width as needed */
  flex-grow: 1; /* Fill remaining space */
}

.num-rel-container {
  display: flex;
  gap: 48px;
  align-items: baseline;
  flex-direction: row;
  margin-bottom: 4rem;
}

.number-index-container {
 width: 50px;
}

.release-index-container {
  width: 90px;
}
// POST INDEX END

/* Media query for small devices (e.g., phones) */
@media only screen and (max-width: 600px) {
  /* Styles for small devices */
  body {
    font-size: 1rem;
    line-height: 1.6rem;
  }

  h1 {
  font-size: 1.9rem;
  line-height: 2.15rem;
}

  h2 {
  font-size: 1.75rem;
  line-height: 1.9rem;
}

  h3 {
  font-size: 1.6rem;
  line-height: 1.75rem;
}

  h4 {
  font-size: 1.45rem;
  line-height: 1.6rem;
}

  h5 {
  font-size: 1.3rem;
  line-height: 1.45rem;
}

  h6 {
  font-size: 1.15rem;
  line-height: 1.3rem;
}

  blockquote {
  font-size: 1.45rem;
  line-height: 1.6rem;
}

  .home-link {
  margin-bottom: 5rem; /* Adjust the margin as needed */
}

.thumbnail-container {
  margin-bottom: 3rem; /* Adjust the margin as needed */
}

.post-title-previous,
.post-title-next {
  font-size: 1.15rem;
  line-height: 1.3rem;
}

.post-list-title {
  font-size: 0.75rem;
  font-weight: 500;
  margin-right: 0.5rem;
  line-height: 0.75rem;
}

.post-list-date {
  font-size: 0.5rem;
  line-height: 0.5rem;
}

.post-list-line  {
  border-top: 1px;
  margin-right: 0.5rem;
}
  
.dashed {
  border-top: 1px;
} 

.menu {
  padding-bottom: 1rem;
  margin-left: 2em;
  margin-right: 2em;
}
  
.menu-list li {
  /* Styles for individual menu items */
  margin-right: 2rem;
}

.menu-list li:last-child {
  margin-right: 0;
}

.post-meta {
  margin-bottom: 3rem;
  }
  
.post-meta-info {
  font-size: 1.3rem;
  line-height: 1.3rem;
}

.post-meta-info-title {
  font-size: 3rem;
  line-height: 2.7rem;
  letter-spacing: 0rem;
}

.post-index {
  flex-direction: column;
}

.title-index-container {
  width: 100%;
}
  
  /* Add more styles as needed for small devices */
}

/* Media query for medium devices (e.g., tablets) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Styles for medium devices */
  body {
    font-size: 1.2rem; /* Adjust font size for medium screens */
  }

  /* Add more styles as needed for medium devices */
}

/* Media query for large devices (e.g., desktops) */
@media only screen and (min-width: 1025px) {
  /* Styles for large devices */
  body {
    font-size: 1.4rem; /* Adjust font size for large screens */
  }

  /* Add more styles as needed for large devices */

}
