  .page-content {
    display: flex;
    flex-direction: column;
    padding: 1em 15% 10rem;
    align-items: center;
    position: static;
    background-color: var(--bg);
    border-radius: $border-radius;
    max-width: 99vw;
    border-bottom: var(--border-switch) solid 1px;
    border-top: var(--border-switch) solid 1px;
    margin-bottom: -3rem;
    z-index: 9;
  }

  .page-content-main {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
    position: relative;
    padding-top: 0vh;
  }

  .page-content-about {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
    position: relative;
    padding-top: 0vh;
  }

  .scroll-anchor {
    scroll-margin-top: 20rem;
  }
  
  // -------------------------------------------------------- MOBILE -------------------------------------------------------- //
  // -------------------------------------------------------- MOBILE -------------------------------------------------------- //
  
  @media only screen and (max-width: 800px) {

    .page-content {
      padding: 2em 1em 3em;
      max-width: 100%;
      background-color: var(--bg);
      margin-top: 3rem;
    }
  
    .page-content-main {
      margin-bottom: 0;
      padding-top: 0;
      background-color: var(--bg);
    }

  .home-link {
    margin-bottom: 5rem;
  }
  
  .thumbnail-container {
    margin-bottom: 3rem;
  }

}