.menu,
.footer,
.meta-wrap,
.more-wrap,
.index-list {
  @extend .container;
}

.container {
  width: min(var(--container-max), 100% - 2 * var(--container-side));
  margin-inline: auto;
  position: relative;
}

.page {
  display: flex;
  flex-direction: column;
  padding: 0 15% 10rem;
  position: relative;
  background-color: var(--bg);
  border-radius: var(--radius);
  margin: 0 0 -2rem;
  align-items: center;
  z-index: 2;
}

.page-content {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 0;
  width: 90ch;
}

.page-list {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding-top: 0;
  width: 100%;
}

.page-content-main.about {
  background: none;
}

  
  // -------------------------------------------------------- MOBILE -------------------------------------------------------- //
  // -------------------------------------------------------- MOBILE -------------------------------------------------------- //
  
  @media only screen and (max-width: 800px) {
    
    .page {
      padding: 0 var(--space-b);
      padding-bottom: 15vh;
    }

    .page-content {
      width: auto;
    }
  }
  