.post-meta-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    z-index: -99999;
    image-rendering: optimizeSpeed;
    transition: $transition-02-ease;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  }
  
  .post-meta-container {
    display: flex;
    flex-direction: column;
    padding: $meta-gap-48;
    border-radius: $border-radius;
    border: $glass-border;
    backdrop-filter: blur(10px);
    position: static;
    gap: 64px;
    margin: 10% 17% 10%;
    background-color: var(--transpa-meta);
    box-shadow: $drop-shadow;
  }
  
  .post-meta-row {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: $meta-gap-64;
    margin-bottom: 0rem;
    margin-left: 0;
    margin-right: 0;
  }
  
  .post-meta-label {
    font-family: $font-family-heading;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--text-light);
    line-height: 0.8rem;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 0.03rem;
  }
  
  .post-meta-number {
    font-family: $font-family-heading;
    font-size: 5rem;
    color: var(--text-light);
    line-height: 4rem;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0;
    width: fit-content;
  }
  
  .post-meta-title {
    font-family: $font-family-heading;
    font-size: 6rem;
    color: var(--text-light);
    line-height: 5.7rem;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: -0.1rem;
    margin-left: 0;
    width: fit-content;
  }
  
  .post-meta-text {
    font-family: $font-family-heading;
    font-size: 1.5rem;
    color: var(--text-light);
    line-height: 1.3;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 0.02rem;
    margin-left: 0;
    width: fit-content;
  }
  
  .number-container,
  .release-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 95px;
  }
  
  .post-name-container,
  .appetizer-container {
    width: calc(50% - 24px);
    flex-grow: 1;
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

// -------------------------------------------------------- MOBILE -------------------------------------------------------- //
// -------------------------------------------------------- MOBILE -------------------------------------------------------- //
@media only screen and (max-width: 800px) {

.post-meta {
    margin-bottom: 3rem;
    }
    
  .post-meta-text {
    font-size: $font-size-heading-5-mobile;
    line-height: $line-height-heading-6-mobile;
  }
  
  .post-meta-title {
    font-size: $font-size-heading-3;
    line-height: 2.7rem;
    letter-spacing: 0rem;
  }
  
  .post-name-container {
    width: fit-content;
  }
  
  .post-meta-row {
    gap: $meta-gap-48;
    flex-direction: column;
  }
  
  .post-meta-background {
    top: 0px;
  }
  
  .post-meta-container {
    gap: $meta-gap-48;
    margin: 5% 5%;
    max-width: 90%;
  }
  
  .post-meta-number {
    font-size: $font-size-heading-6;
    line-height: $line-height-heading-6;
  }
  
  .appetizer-container {
    width: auto;
  }

}