.post-meta {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -99999;
    image-rendering: optimizeSpeed;
    overflow: clip;
    margin-bottom: -2rem;
  }
  
  .post-meta-container {
    display: flex;
    flex-direction: column;
    padding: $meta-gap-48;
    border-radius: $border-radius;
    border: $glass-border;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: relative;
    gap: 64px;
    margin: 10vh 17% 10%;
    background-color: var(--transpa-meta);
    box-shadow: $drop-shadow;
    z-index: -9999;
    padding-bottom: 6%;
    overflow: hidden;
  }
  
  .post-meta-row {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: $meta-gap-64;
    margin-bottom: 0rem;
    margin-left: 0;
    margin-right: 0;
  }
  
  .post-meta-label {
    font-family: $font-family-heading;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--text-light);
    line-height: 0.8rem;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 0.03rem;
  }
  
  .post-meta-number {
    font-family: $font-family-heading;
    font-size: 5rem;
    color: var(--text-light);
    line-height: 4rem;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0;
    width: fit-content;
  }
  
  .post-meta-title {
    font-family: $font-family-heading;
    font-size: 6rem;
    color: var(--text-light);
    line-height: 5.7rem;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: -0.1rem;
    margin-left: 0;
    width: fit-content;
  }
  
  .post-meta-text {
    font-family: $font-family-heading;
    font-size: 1.5rem;
    color: var(--text-light);
    line-height: 1.3;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 0.02rem;
    margin-left: 0;
    width: fit-content;
  }
  
  .number-container,
  .release-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 95px;
  }
  
  .post-name-container,
  .appetizer-container {
    width: calc(50% - 24px);
    flex-grow: 1;
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .post-meta-title::selection, .post-meta-number::selection,
  .post-meta-text::selection, .post-meta-label::selection {
    background: var(--text-secondary);
  }

  .post-meta-title::-moz-selection, .post-meta-number::-moz-selection,
  .post-meta-text::-moz-selection, .post-meta-label::-moz-selection {
    background: var(--text-secondary);
  }

  .post-date {
    margin: 1rem 2rem 2rem;

    & .post-meta-label {
      color: slategray;
    }
  }

// -------------------------------------------------------- MOBILE -------------------------------------------------------- //
// -------------------------------------------------------- MOBILE -------------------------------------------------------- //
@media only screen and (max-width: 800px) {

.post-meta {
    margin-bottom: -4rem;
    background-size: cover;
    background-position: center;
    z-index: -99999;
    image-rendering: optimizeSpeed;
    overflow: hidden;
    padding: 20% 0 15%;
  }
    
  .post-meta-text {
    font-size: $font-size-heading-5-mobile;
    line-height: $line-height-heading-6-mobile;
  }
  
  .post-meta-title {
    font-size: $font-size-heading-3;
    line-height: 2.7rem;
    letter-spacing: 0rem;
  }
  
  .post-name-container {
    width: fit-content;
  }
  
  .post-meta-row {
    gap: $meta-gap-48;
    flex-direction: column;
  }
  
  .post-meta-background {
    top: 0px;
  }
  
  .post-meta-container {
    gap: $meta-gap-48;
    margin: 5% 5%;
    max-width: 90%;
  }
  
  .post-meta-number {
    font-size: $font-size-heading-6;
    line-height: $line-height-heading-6;
  }
  
  .appetizer-container {
    width: auto;
  }

  .post-date {
    margin: 0.5rem 0 0.5rem;
  }
}