@media only screen and (min-width: 801px) and (max-width: 1200px) {
    /* Styles for large devices */
    body {
      font-size: 1.4rem; /* Adjust font size for large screens */
    }
  
    .post-index-title {
      font-size: 4rem;
      line-height: 3.8rem;
    }
  
    /* Add more styles as needed for large devices */
  
  }