  html {
    font-size: 16px;
  }
  
  body {
    font-family: $font-family-body;
    font-size: $font-size-base;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  html, body {
    background-color: var(--bg);
    color: var(--text);
  }

  header {
    width: 100%;
    height: 0;
  }
  
  header h1 {
    visibility: hidden;
  }

  header p {
    width: fit-content;
  }

  h1 {
    font-size: $font-size-heading-1;
    line-height: $line-height-heading-1;
  }

  h2 {
    font-size: $font-size-heading-2;
    line-height: $line-height-heading-2;
  }

  h3 {
    font-size: $font-size-heading-3;
    line-height: $line-height-heading-3;
  }

  h4 {
    font-size: $font-size-heading-4;
    line-height: $line-height-heading-4;
  }

  h5 {
    font-size: $font-size-heading-5;
    line-height: $line-height-heading-5;
  }

  h6 {
    font-size: $font-size-heading-6;
    line-height: $line-height-heading-6;
  }

  a {
    color: var(--links);
    text-decoration: underline;
  
    &:hover {
      color: var(--links-hover);
      text-decoration: line-through;
    }
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--text-secondary);
    width: 75%;
    margin: 6rem auto 2rem;
    scroll-margin-top: 5rem;
    font-weight: 400;
    font-family: $font-family-heading;

    a {
      color: var(--links);
      text-decoration: underline;
    }
  }
  
h4 {
  color: var(--grey);
}

h6 {
  text-transform: uppercase;
}

  table, th, td {
    width: 100%;
    border: thin solid black;
    border-collapse: collapse;
    padding: 0.4em;
  }
  
  p, small, table, figcaption {
    color: var(--text);
    width: 75%;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    line-height: $line-height-base;
}

  strong, b, em {
    color: var(--text);
    width: 75%;
    line-height: $line-height-base;
  }

  em, i {
    font-style: italic;
  }

  pre, code, pre p, code p, p code {
    font-family: $font-family-monospace;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6rem;
    display: flex;
    color: var(--text-secondary);
  
    &::before {
      content: "> ";
      color: var(--links);
    }
  }
  
  mark {
    background-color: var(--highlight);
  }

  p::selection, strong::selection, b::selection, em::selection,
  a::selection, small::selection, li::selection, sup::selection, code::selection {
    background: var(--text-secondary);
    color: black;
  }
  p::-moz-selection, strong::-moz-selection, b::-moz-selection, em::-moz-selection,
  a::-moz-selection, small::-moz-selection, li::-moz-selection, sup::-moz-selection, code::-moz-selection {
    background: var(--text-secondary);
    color: black;
  }

  h1::selection, h2::selection, h3::selection,
  h4::selection, h5::selection, h6::selection {
    background: var(--links);
  }

  h1::-moz-selection, h2::-moz-selection, h3::-moz-selection,
  h4::-moz-selection, h5::-moz-selection, h6::-moz-selection {
    background: var(--links);
  }

// -------------------------------------------------------- MOBILE -------------------------------------------------------- //
// -------------------------------------------------------- MOBILE -------------------------------------------------------- //
  @media only screen and (max-width: 800px) {
    body {
      font-size: $font-size-base-mobile;
      line-height: $line-height-base-mobile;
    }
  
    h1 {
      font-size: $font-size-heading-1-mobile;
      line-height: $line-height-heading-1-mobile;
    }
  
    h2 {
      font-size: $font-size-heading-2-mobile;
      line-height: $line-height-heading-2-mobile;
    }
  
    h3 {
      font-size: $font-size-heading-3-mobile;
      line-height: $line-height-heading-3-mobile;
    }
  
    h4 {
      font-size: $font-size-heading-4-mobile;
      line-height: $line-height-heading-4-mobile;
    }
  
    h5 {
      font-size: $font-size-heading-5-mobile;
      line-height: $line-height-heading-5-mobile;
    }
  
    h6 {
      font-size: $font-size-heading-6-mobile;
      line-height: $line-height-heading-6-mobile;
    }
 
    h1, h2, h3, h4, h5, h6 {
      color: var(--text-secondary);
      width: 100%;
      margin: 2rem auto 0;
    }
  
    p, b, em, small, table, figcaption {
      width: 100%;
      line-height: $line-height-base-mobile;
    }

    pre, code, pre p, code p, p code {
      font-family: $font-family-monospace;
      font-size: 0.8rem;
      font-weight: 400;
      font-style: normal;
      line-height: 1.2rem;
      display: flex;
      color: var(--text-secondary);
    
      &::before {
        content: "> ";
        color: var(--links);
      }
    }

    a:hover {
        color: var(--links);
        text-decoration: none;
    }

    ol, ul {
      width: 95%;
      margin: 0;
      padding: 0 0 0 5%;
    }
  }