html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
    transition: all 250ms !important;
    transition-delay: 0 !important;
}

.theme-toggle {
  height: 32px;
  width: 32px;
  border: none;
  cursor: pointer;
  outline: none;
  margin: 0;
  background: transparent;
}

.theme-toggle .icon {
  display: block;
  width: 100%;
  height: 100%;
  background: transparent;
}

.theme-toggle.sun .icon {
  background-color: var(--links);
  mask-image: url("https://scherrer-txt.github.io/bts/assets/icons/moon.svg");
  -webkit-mask-image: url("https://scherrer-txt.github.io/bts/assets/icons/moon.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.theme-toggle.moon .icon {
  background-color: var(--links);
  mask-image: url("https://scherrer-txt.github.io/bts/assets/icons/sun.svg");
  -webkit-mask-image: url("https://scherrer-txt.github.io/bts/assets/icons/sun.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.theme-toggle:hover .icon {
  background-color: var(--links-hover);
}


html.transition .theme-toggle {
  transition: background-image 250ms ease-in-out;
}

html[data-theme="dark"] { @include dark-appearance; }
  html[data-theme="light"] { @include light-appearance; }
  
  @media (prefers-color-scheme: dark) {
    body[data-theme="auto"] { @include dark-appearance; }
  }
  @media (prefers-color-scheme: light) {
    body[data-theme="auto"] { @include light-appearance; }
  }

// -------------------------------------------------------- MOBILE -------------------------------------------------------- //
// -------------------------------------------------------- MOBILE -------------------------------------------------------- //
@media only screen and (max-width: 800px) {
.theme-toggle {
    left: 0;
    height: 60px;
    width: 60px;
  }
  .theme-toggle:hover .icon {
    background-color: var(--links);
  }
}