#toc a {
  text-decoration: none;
}

ul#markdown-toc::before {
    content: "Obsah";
    font-family: $font-family-heading;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--text);
    line-height: 0.8rem;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 0.03rem;
    margin-bottom: 1rem;
}

ul#markdown-toc {
    width: 55%;
    border-radius: $border-radius;
    border: var(--text-light) solid 1px;
    box-shadow: $drop-shadow-soft;
    padding: 2rem 5rem 3rem;
    margin: 0;
    align-self: center;

    a {
      color: var(--link);
    }
}

ul#markdown-toc li {
    font-family: $font-family-heading;
    font-size: $font-size-heading-5-mobile;
    line-height: 2rem;
    font-weight: 500;
    color: var(--text);
    letter-spacing: 0.03rem;
    margin: 0 0 0 2rem;
    list-style-type: decimal-leading-zero;
    counter-reset: toc-counter;
  }

  ul#markdown-toc li:first-child,
  ul#markdown-toc li:last-child {
    margin: 1rem 0 1rem 0;
  }

  ul#markdown-toc a {
    color: var(--text-secondary);

    &:hover {
        color: var(--link);
    }
  }

.page-content h2 > a.anchor-marker,
.page-content h3 > a.anchor-marker,
.page-content h4 > a.anchor-marker,
.page-content h5 > a.anchor-marker,
.page-content h6 > a.anchor-marker {
  position: absolute;
  display: inline-block;
  font-family: $font-family-heading;
  font-weight: 800;
  font-size: 0.8em;
  letter-spacing: -0.05em;
  transform: translateX(-100%) rotate(-90deg);
  transform-origin: center center;
  vertical-align: text-top;
  padding-right: 1rem;
  text-decoration: none;
}



// -------------------------------------------------------- MOBILE -------------------------------------------------------- //
// -------------------------------------------------------- MOBILE -------------------------------------------------------- //
@media only screen and (max-width: 800px) {

  ul#markdown-toc {
    width: 60vw;
    margin: 0;
    align-self: center;
    padding: 1rem 3rem;
    margin: 2rem;
  }

  ul#markdown-toc li {
    font-size: $font-size-heading-6-mobile;
    line-height: $line-height-heading-6-mobile;
    margin-top: 2px;
    margin-bottom: 2px;
    letter-spacing: 0.03rem;
    }

  .page-content h2 > a.anchor-marker,
  .page-content h3 > a.anchor-marker,
  .page-content h4 > a.anchor-marker,
  .page-content h5 > a.anchor-marker,
  .page-content h6 > a.anchor-marker {
    position: absolute;
    right: 5%;               /* posune o 3rem doprava mimo text */
    transform: rotate(-90deg);  /* odstraní translate, nechá jen otočení */
    margin-left: 0;
  }
}