@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

// Overused Grotesk
@font-face {
  font-family: "Overused Grotesk";
  src: url("/assets/fonts/OverusedGrotesk-Roman.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Overused Grotesk";
  src: url("/assets/fonts/OverusedGrotesk-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
/*
@font-face {
  font-family: "Overused Grotesk";
  src: url("/assets/fonts/OverusedGrotesk-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}*/

@font-face {
  font-family: "Overused Grotesk";
  src: url("/assets/fonts/OverusedGrotesk-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

// -------------------------------------------------------- typography

$font-family-b: "Source Serif 4", Georgia, Cambira, "Times New Roman", Times, serif;
$font-family-h: "Overused Grotesk", Arial, Helvetica, sans-serif;
$font-family-m: "Geist Mono", Courier, monospace;
$font-family-main: "Overused Grotesk";

/*
font-base:    24px / 16 = 1.5rem
font-mobile:  18px / 16 = 1.125rem

--thing-xl: extra large
--thing-l: large
--thing-m: medium
--thing-b: base
--thing-s: small
--thing-xs: extra small
*/

:root {
  --pref-scale: 1.4vw + 0.8rem;
  
  --font-b: clamp(1.125rem, var(--pref-scale), 1.5rem);
  
  --font-h1: clamp(calc(var(--font-b) * 3), calc(var(--font-b) * 3.4), calc(var(--font-b) * 3.8));
  --font-h2: clamp(calc(var(--font-b) * 2.4), calc(var(--font-b) * 2.7), calc(var(--font-b) * 3));
  --font-h3: clamp(calc(var(--font-b) * 1.9), calc(var(--font-b) * 2.1), calc(var(--font-b) * 2.3));
  --font-h4: clamp(calc(var(--font-b) * 1.6), calc(var(--font-b) * 1.7), calc(var(--font-b) * 1.8));
  --font-h5: clamp(calc(var(--font-b) * 1.3), calc(var(--font-b) * 1.35), calc(var(--font-b) * 1.4));
  --font-h6: clamp(calc(var(--font-b) * 1.1), calc(var(--font-b) * 1.12), calc(var(--font-b) * 1.15));
  --font-s: clamp(calc(var(--font-b) * 0.9), calc(var(--font-b) * 0.85), calc(var(--font-b) * 0.8));
  --font-mono: clamp(calc(var(--font-b) * 0.8), calc(var(--font-b) * 0.78), calc(var(--font-b) * 0.75));
  --font-quote-l: clamp(calc(var(--font-b) * 1.5), var(--pref-scale), calc(var(--font-b) * 2.3));
  --font-quote-s: clamp(calc(var(--font-b) * 0.8), calc(var(--font-b) * 0.85), calc(var(--font-b) * 0.8));

  --meta-s: var(--font-h6);
  --meta-m: var(--font-h4);
  --meta-l: var(--font-h2);

  --line-l: 1.8;
  --line-b: 1.6;
  --line-s: 1.1;
  --line-xs: 0.9;
  
  --letter-wide: 0.05em;
  --letter-base: -0.003em;
  --letter-tight: -0.02em;
  
  --weight-bold: 800;
  --weight-medium: 500;
  --weight-regular: 400;

// -------------------------------------------------------- spacing

  --space-xl: calc(var(--space-b) * 3);
  --space-l: calc(var(--space-b) * 2);
  --space-b: clamp(1.4rem, var(--pref-scale), 1.6rem);
  --space-s: calc(var(--space-b) * 0.5);
  
  --space-quote-top: 10vh;

  --gap-xl: calc(var(--space-l) * 2);
  --gap-l: calc(var(--space-l) * 1);
  --gap-m: calc(var(--space-l) * 0.75);
  --gap-s: calc(var(--space-l) * 0.5);
  --gap-xs: calc(var(--space-l) * 0.2);

// -------------------------------------------------------- width

  --toc-max-width: 75%;
  --footnote-width: 120ch;

  --container-width: 90%;           // main content width
  --container-side: 15%;            // horizontal offset for meta/more

  --container-max: 1200px;
  --container-side: clamp(1rem, 5vw, 4rem);

// -------------------------------------------------------- fx

  --radius: clamp(12px, var(--pref-scale), 24px);
  --border-solid: 1px solid var(--bg);
  
  --blur-l: clamp(6px, 1vw + 2px, 10px);
  --blur-s: 6px;
  
  --hover-opacity: 0.6;
  --hover-scale: 1.05;

  --shadow-s: inset 0 2px 2px #ffffff30, 0 5px 20px rgba(0, 0, 0, 0.1);
  --shadow-l: inset 0 2px 2px #ffffff30, 0 5px 20px rgba(0, 0, 0, 0.4);
  --text-shadow-soft: 0 1px 4px var(--bg);

  --transition-fast: 0.2s ease-in-out;
  --transition-base: 0.4s ease;
  --transition-slow: 0.6s ease-out;

  --frosted-mask: radial-gradient(
    var(--mask-shape) at var(--mask-position),
    var(--mask-color-inner) var(--mask-inner),
    var(--mask-color-outer) var(--mask-outer)
  );

  --mask-shape: ellipse 60% 70%;
  --mask-position: 50% 50%;
  --mask-inner: 20%;
  --mask-outer: 90%;
  --mask-color-inner: rgba(0, 0, 0, 0.1);
  --mask-color-outer: rgba(0, 0, 0, 1);

}

@media (max-width: 800px) {
  :root {
    --mask-inner: 40%;
  }
}

// -------------------------------------------------------- global

html, body {
  background-color: var(--bg);
  text-rendering: optimizeLegibility;
  font-family: $font-family-b;
  margin: 0;
  line-height: var(--line-b);
}