<!DOCTYPE html>
<html lang="{{ page.lang | default: "cs" }}" class="html" data-theme="{{ site.theme_config.appearance | default: "auto" }}">
        {%- include head.html -%}
  <body>
          {% include menu.html collection=site.data.home.navbar_entries %}
    <main class="page-content" aria-label="Content">
      <div class="post-meta-background" style="background-image: url('{{ page.background }}');"></div>
      <div class="w">
        {{ content }}
      </div>
    </main>

  {%- if page.layout == "post" -%}
    {% include foot.html %}
  {%- endif -%}

  </body>
</html>
