<!DOCTYPE html>
<!-- FOR MAIN PAGE -->
<!-- Hey, I can see you looking... spicy. -->
<html lang="{{ page.lang | default: "cs" }}" class="html" data-theme="{{ site.theme_config.appearance | default: "auto" }}">
<head>
    {%- include head.html -%}
    {% include lazyload.html %}
  </head>
  <body>
          {% include menu.html collection=site.data.home.navbar_entries %}
      <main class="page-list" aria-label="Content">
          <div class="main-logo"></div>
        <ol class="index-list">
          {% assign sorted_posts = site.posts | sort_natural: 'order' | reverse %}
          {% for post in sorted_posts %}
            {% if post.published == true %}

                <div class="index-wrap" style="--bg-img: url('{{ site.url }}{{ post.background }}');">
                  <div class="number-wrap">
                    <small class="meta-small">Číslo</small>
                    <h4 class="meta-big">{{ post.order }}</h4>
                  </div>

                  <div class="title-wrap">
                    <small class="meta-small">Název</small>
                    <h2 class="meta-title">
                      <a href="{{ post.url | relative_url }}" class="index-link">{{ post.name }}</a>
                    </h2>
                  </div>

                  <div class="release-wrap">
                    <small class="meta-small">Vyšlo</small>
                    <h4 class="meta-big">{{ post.release }}</h4>
                  </div>

                </div>

            {% endif %}
          {% endfor %}
        </ol>
    </main>
    {%- include footer.html -%}
  </body>
</html>