---
layout: default
---
{% if page.thumbnail %}
<meta property="og:image" content="{{ site.baseurl }}{{ page.thumbnail }}">
<meta property="og:image:width" content="1920">
<meta property="og:image:height" content="1080">
{% endif %}
<div class="home-link">
  <a href="{{ "/" | relative_url }}">{{ site.theme_config.back_home_text }}</a>
</div>
<div class="thumbnail-container">
  {% if page.thumbnail %}
    <img src="{{ site.baseurl }}{{ page.thumbnail }}" alt="Thumbnail Image">
  {% endif %}
</div>
<h1 class="post-title">{{ page.title }}</h1>
{% include date_and_social_share.html %}
{{ content }}

  <script>
          // Select all paragraphs in the post content
var paragraphs = document.querySelectorAll('.post-content p');

// Iterate over each paragraph
paragraphs.forEach(function(paragraph) {
    // Get the text content of the paragraph
    var text = paragraph.textContent.trim();

    // Check if the last character is one of the specified characters
    var lastChar = text.charAt(text.length - 1);
    if (lastChar.match(/[aszikuvo]$/i)) { // Match "a", "s", "z", or "i" (case-insensitive)
        // Insert a non-breaking space after the last character
        paragraph.innerHTML = text.slice(0, -1) + lastChar + '&nbsp;';
    }
});
  </script>
