<!DOCTYPE html>
<!-- FOR POSTS & NOTES -->
<!-- Hey, look away, my code is naked! -->
<html lang="{{ page.lang | default: 'cs' }}" class="html" data-theme="{{ site.theme_config.appearance | default: 'auto' }}">
  <head>
    {%- include head.html -%}
    {% include lazyload.html %}
  </head>

  <body>
          {% include menu.html collection=site.data.home.navbar_entries %}

<div class="meta">
  <div class="meta-bg" style="--bg-img: url('{{ site.url }}{{ page.background }}')"></div>
  <div class="meta-wrap">

    <div class="meta-row">
      <div class="title-wrap">
        <small class="meta-small">Název</small>
        <h1 class="meta-title">{{ page.name }}</h1>
      </div>
    </div>

    <div class="meta-row">
      <div class="number-wrap">
        <small class="meta-small">Číslo</small>
        <h4 class="meta-big">{{ page.order }}</h4>
      </div>
      <div class="appetizer-wrap">
        <small class="meta-small">Appetizer</small>
        <h2 class="meta-small">{{ page.perex }}</h2>
      </div>
      <div class="release-wrap">
        <small class="meta-small">Vyšlo</small>
        <h4 class="meta-big">{{ page.release }}</h4>
      </div>
    </div>

{% if page.moreinfo %}
    <div class="meta-row">
      <div class="appetizer-wrap">
        <small class="meta-small">Více</small>
        <h2 class="meta-small">{{ page.perex }}</h2>
      </div>
    </div>
{% endif %}

  </div>
</div>

<main class="page" aria-label="Content">
  <div class="page-content">
  
    {{ content }}

    <div class="post-end"></div>
  </div>
</main>
<div class="more" style="--bg-img: url('{{ site.url }}{{ page.background }}');">
<div class="more-wrap">
  {% if page.previous %}
    <div class="more-item" style="--bg-img: url('{{ site.url }}{{ page.previous.background }}');">
      <small class="meta-small">Starší článek</small>
        <h3 class="meta-title">
          <a href="{{ site.url }}{{ page.previous.url }}" class="prev-button">{{ page.previous.name }}</a>
        </h3>
    </div>
  {% endif %}
  {% if page.next %}
    <div class="more-item" style="--bg-img: url('{{ site.url }}{{ page.next.background }}');">
      <small class="meta-small">Novější článek</small>
        <h3 class="meta-title">
          <a href="{{ site.url }}{{ page.next.url }}" class="next-button">{{ page.next.name }}</a>
        </h3>
    </div>
  {% endif %}
</div>
</div>

{% include progress-bar.html %}

{%- include footer.html -%}
<script src="{{ site.url }}/assets/js/header-anchors.js"></script>
</body>
</html>