<!DOCTYPE html>
<!-- FOR POSTS & NOTES -->
<!-- Hey, look away, my code is naked! -->
<html lang="{{ page.lang | default: "cs" }}" class="html" data-theme="{{ site.theme_config.appearance | default: "auto" }}">
{%- include head.html -%}
  <body>
          {% include menu.html collection=site.data.home.navbar_entries %}
<div class="post-meta-container">
  <div class="post-meta-row">
    <div class="post-name-container">
      <div class="post-meta-label">Název</div>
      <div class="post-meta-content">
        <h1 class="post-meta-title">{{ page.name }}</h1>
      </div>
    </div>
  </div>
  <div class="post-meta-row">
    <div class="number-container">
      <div class="post-meta-label">Číslo</div>
      <div class="post-meta-content">
        <h4 class="post-meta-number">{{ page.order }}</h4>
      </div>
    </div>
    <div class="appetizer-container">
      <div class="post-meta-label">Appetizer</div>
      <div class="post-meta-content">
        <h2 class="post-meta-text">{{ page.perex }}</h2>
      </div>
    </div>
    <div class="release-container">
      <div class="post-meta-label">Vyšlo</div>
      <div class="post-meta-content">
        <h2 class="post-meta-text">{{ page.release }}</h2>
      </div>
    </div>
  </div>
</div>
<main class="page-content" aria-label="Content">

  {{ content }}

  <div class="post-end"></div>

<div class="post-meta-background" style="background-image: url('{{ site.url }}{{ page.background }}');"></div>
</main>
<div class="post-nav-container">
  {% if page.previous %}
    <div class="post-nav-item">
      <div class="post-nav-label">Starší článek</div>
        <h2 class="post-nav-link">
          <a href="{{ site.url }}{{ page.previous.url }}" class="prev-button">{{ page.previous.name }}</a>
        </h2>
        <div class="post-nav-background" id="hover-background" style="background-image: url('{{ site.url }}{{ page.previous.background }}');"></div>
    </div>
  {% endif %}
  {% if page.next %}
    <div class="post-nav-item">
      <div class="post-nav-label">Novější článek</div>
        <h2 class="post-nav-link">
          <a href="{{ site.url }}{{ page.next.url }}" class="next-button">{{ page.next.name }}</a>
        </h2>
        <div class="post-nav-background" id="hover-background" style="background-image: url('{{ site.url }}{{ page.next.background }}');"></div>
    </div>
  {% endif %}
</div>

{% include progress-bar.html %}
{%- include footer.html -%}
<script src="{{ site.url }}/assets/js/header-anchors.js"></script>
<script src="{{ site.url }}/assets/js/nav-hover.js"></script>
<script src="{{ site.url }}/assets/js/bg-parallax.js"></script>
</body>
</html>